name: Train Model

on:
  push:
    branches: ["main"]

jobs:
  train:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install torch transformers datasets evaluate

      - name: Train model
        run: |
          python -m src.model

      - name: Upload trained model
        uses: actions/upload-artifact@v4
        with:
          name: final-model
          path: final_model/  # Assuming the model is saved in this directory
