name: Train Model

on:
  workflow_run:
    workflows: ["Run Tests"]
    types:
      - completed
  workflow_dispatch:

jobs:
  train:
    if: ${{ github.event_name == 'workflow_dispatch' || github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install torch transformers datasets evaluate accelerate

      - name: Train model
        run: |
          python -m src.model

      - name: Upload trained model
        uses: actions/upload-artifact@v4
        with:
          name: final-model
          path: final_model/  # Assuming the model is saved in this directory
